.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;

}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;


}

.login-top {
    margin-top: 55px;
    margin-bottom: 111px;
}

.login-logo {
    max-height: 350px;
    margin-bottom: 44px;

}

.login-h1 {
    text-align: center;
    font: normal normal bold 29px/49px Dubai;
    letter-spacing: 0;
    color: #043B80;
    opacity: 1;
}


.login-form {
    display: flex;
    flex-direction: column;
}

.login-label {
    text-align: left;
    font: normal normal bold 22px/37px Dubai;
    letter-spacing: 0px;
    color: #043B80;
    opacity: 1;
}

.login-input {
    width: 473px;
    height: 22px;

    border: 0;
    outline: 0;
    padding: 7px 0;
    opacity: 0.5;

    text-align: left;
    letter-spacing: 0px;
    color: #043B80;
    border-bottom: 2px solid #043B80;
    background: transparent;
    font: normal normal bold 13px/22px Dubai;

    transition: all 0.3s;
}


.login-input:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-image: linear-gradient(to right, #006BAD, #009ED5);
    border-image-slice: 1;
    opacity: 1;
}

.login-buttons {
    margin: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button {
    background: #043B80 0% 0% no-repeat padding-box;
    box-shadow: 1px 1px 6px #00000029;
    border-radius: 22px;


    text-align: center;
    font: normal normal bold 15px/25px Dubai;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 1px 1px 6px #00000029;
    opacity: 1;

    width: 125px;
    height: 39px;
    border: none;
}

.login-alert {
    position: fixed;
    bottom: 15%;
    right: 0;
    width: 500px;
    height: 50px;
    opacity: 1;

    color: white;
    border-radius: 12px 0 0 12px;
    background-color: red;
    display: flex;
    align-items: center;
    animation: 2s ease-out 0s slideInFromLeft;
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

































