.LoaderIcons {
    height: 30vh;
}

#LoaderIcon-Calque_1 {
    animation: animate-LoaderIcon-Calque_1 5s ease-in-out infinite;
    transform-origin: center;
    fill: transparent;
    stroke: #006BAD;
    stroke-width: 5px;
    stroke-dasharray: 3280;
}

#LoaderIcon-Calque_2 {
    animation: animate-LoaderIcon-Calque_2 5s ease-in-out infinite;
    transform-origin: center;
    fill: transparent;
    stroke: #009ED5;
    stroke-width: 5px;
    stroke-dasharray: 1830;
}

@keyframes animate-LoaderIcon-Calque_1 {
    0% {
        stroke-dashoffset: 0;
        transform: scale(1.06, 1.06);
    }
    20% {
        stroke-dashoffset: 3280;
        transform: scale(1, 1);
    }
    40% {
        stroke-dashoffset: 6560;
        transform: scale(1.06, 1.06);
        fill: transparent;
    }
    50% {
        stroke-dashoffset: 6560;
    }
    60% {
        stroke-dashoffset: 6560;
        transform: scale(1.06, 1.06);
        fill: transparent;
    }
    80% {
        stroke-dashoffset: 3280;
        transform: scale(1, 1);
    }
    100% {
        stroke-dashoffset: 0;
        transform: scale(1.06, 1.06);
    }
}

@keyframes animate-LoaderIcon-Calque_2 {
    0% {
        stroke-dashoffset: 0;
        transform: scale(1.03, 1.03);
    }
    20% {
        stroke-dashoffset: 1830;
        transform: scale(1, 1);
    }
    40% {
        stroke-dashoffset: 3660;
        transform: scale(1.03, 1.03);
        fill: transparent;
    }
    50% {
        stroke-dashoffset: 3660;
    }
    60% {
        stroke-dashoffset: 3660;
        transform: scale(1.03, 1.03);
        fill: transparent;
    }
    80% {
        stroke-dashoffset: 1830;
        transform: scale(1, 1);
    }
    100% {
        stroke-dashoffset: 0;
        transform: scale(1.03, 1.03);
    }
}