.content {
    display: block;
    height: calc(100% - 175px);
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorMsg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.error {
    border-radius: 20px;
    padding: 15px;
    background-color: #C14747;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F8F8F8;
}

.error :global {
    animation: 0.3s ease-out shake;
}

.errorImg {
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 50%;
    background-color: #F8F8F8;
    transition: all ease-in-out 0.3s;
}


.errorImgBar1 {
    display: inline-block;
    position: relative;
    background-color: #C14747;
    width: 75px;
    height: 5px;
    top: 29%;
    right: 5%;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* Internet Explorer */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari et Chrome */
    -o-transform: rotate(45deg); /* Opera */
}


.errorImgBar2 {
    display: inline-block;
    position: relative;
    background-color: #C14747;
    width: 75px;
    height: 5px;
    top: -5%;
    right: 2%;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* Internet Explorer */
    -moz-transform: rotate(-45deg); /* Firefox */
    -webkit-transform: rotate(-45deg); /* Safari et Chrome */
    -o-transform: rotate(-45deg); /* Opera */
}


.button {
    margin: 20px 0 0 0;
    background-color: #FF875D;
    padding: 10px;
    max-width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
}

.dataContent {
    display: block;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.dataGrid {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.dataTop {
    display: flex
}

.dataTopCircle {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dataTopCircle::after {
    content: ' ';
    border-radius: 50%;
    border: 3px solid #043B80;
    width: 15px;
    height: 15px;
    transition: all ease-in-out 0.3s;
}

.dataGrid:hover > .dataTop > .dataTopCircle::after {
    background-color: #043B80;
}


.dataTopTitle {
    margin: 0 0 0 20px;
}

.dataBody {
    display: flex
}

.dataBodyLine {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataBodyLine::after {
    content: '.';
    background-color: #043B80;
    width: 5px;
    height: calc(100% - 60px);
    padding: 50px 0 50px 0;
    border-radius: 20px;
}


.dataBodyContent {
    display: flex;
    flex-direction: column;
}


.dataRow {
    background: #006BAD linear-gradient(to right, #006BAD, rgba(0, 107, 173, 0));
    margin: 10px;
    color: #FFFFFF;
    padding: 20px;
    min-width: 600px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all ease-in-out 0.2s;
}


.dataRow:hover {
    background-color: #009ED5;
    text-decoration: none;
    color: #EFEFEF;
}

.dataRow::after {
    content: '>';
    font-size: 2rem;
    margin: 0 0 0 auto;
}

.dataRowContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dataRowHeader {
    font-size: 1.5rem;
}

.dataRowBody {
    display: flex;
    align-items: center;
}

.dataRowShortId {
    background: #FFEBBC;
    margin: 10px;
    color: black;
    padding: 0 20px 0 20px;
    min-width: 200px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all ease-in-out 0.2s;
    flex-direction: column;
}

.dataRowLongtId {
    font-size: 10px;
}

.centerPoint {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
}

.redPoint {
    background-color: #C14747;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.greenPoint {
    background-color: #79C251;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}