.buttonGrpDelete {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    box-shadow: 1px 1px 6px #00000029;
    border-radius: 22px;

    text-align: center;
    font: normal normal bold 15px/25px Dubai;
    letter-spacing: 0;
    color: #FFFFFF;
    text-shadow: 1px 1px 6px #00000029;
    opacity: 1;

    width: 65%;
    height: 80%;
    max-width: 170px;
    max-height: 39px;
    border: none;

    margin: 5px;
    transition: all ease-in-out 0.2s;
}


.buttonGrpDelete > img {
    width: 45%;
}

.buttonGrpDelete.button-del {
    background-color: #C14747;
}

.buttonGrpDelete:focus {
    border: none;
    outline: none;
}