.top-bar {
    color: #FFFFFF;
    background: #043B80 linear-gradient(to right, rgba(4, 59, 128, 1) 65%, rgba(4, 59, 128, 0));
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Myanmar Text", sans-serif;
    transition: all ease-in-out 0.5s;
}

.top-bar:hover {
    background-color: #007BFF;
}


.top-bar h1 {
    margin: 0 0 0 20px;
    font-size: 1.3em;
    font-weight: normal;
}

.top-bar h1 span {
    font-weight: bold;
    font-size: 1.2em;
}

.top-bar .btnContain {
    position: absolute;
    width: 250px;
    display: flex;
    justify-content: flex-end;
    right: 0;
    margin: 0 20px 0 0;
}
