.home-page {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0 0 10px 0;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
}

/* TODO maybe add media query there*/
@media (min-width: 600px) {
    .home-page {
        grid-template-columns: repeat(3, 33.33%);
        grid-template-rows: repeat(2, 50%);
    }

    .actor {
        grid-column: 1;
        grid-row: 1;
    }

    .site {
        grid-column: 1;
        grid-row: 2;
    }

    .assign {
        grid-column: 2;
        grid-row: 1/3;
    }

    .category {
        grid-column: 3;
        grid-row: 1;
    }

    .gear {
        grid-column: 3;
        grid-row: 2;
    }
}

.home-page-background {
    opacity: 0.05;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 50%;
}

.home-page-element {
    display: flex;
    width: 50%;
    align-items: center;
    text-align: center;
    flex-flow: column nowrap;
}

.home-page-element > a {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    text-decoration: none;
}

.home-page-element > h2 {
    width: 100%;
    color: #043B80;
    margin: 0;
    padding: 0;
}

.home-page-element > a > img {
    width: 100%;
    max-width: 290px;
    height: auto;
    margin: 0 auto;
    transition: all ease-in-out 0.3s;

}


.home-page-element > a > img:hover {
    animation: 0.2s ease-out shake;
}


@keyframes shake {
    0% {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    20% {
        transform: rotateY(-2deg);
        -moz-transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
    }
    40% {
        transform: rotate(4deg);
        -moz-transform: rotate(4deg);
        -webkit-transform: rotate(4deg);
    }
    60% {
        transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
    }
    80% {
        transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
    }
    100% {
        transform: rotate(-1deg);
        -moz-transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
    }
}


.home-page-button {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    margin: 20px 0 0 0;
}

