.container {
    padding: 20px;
}

.btn {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    padding: 0 10px 0 0;
    margin: 5px;
}

.btn > img {
    width: 45px;
}

.btn-add {
    background-color: #79C251;
}

.btn-cancel {
    background-color: #C27251;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
}