.crud * {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #006BAD;
}

.crud {
    position: relative;
    margin: 20px;
}

.divStyleTest {
    display: flex;
}

th {
    font-weight: bold;
}

tr.hide-table-padding td {
    padding: 0;
}

.expand-button {
    position: relative;
}

.accordion-toggle .expand-button:after {
    position: absolute;
    left: .75rem;
    top: 50%;
    transform: translate(0, -50%);
    content: '-';
}

.accordion-toggle.collapsed .expand-button:after {
    content: '+';
}

.sortable {
    background-image: url("/src/ressources/icons/sort-solid.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-size: 10px;
}

/*.table-bordered{*/
/*    border: none !important;*/
/*}*/
/*.table-bordered td, .table-bordered th{*/
/*    border: solid #dee2e6;*/
/*    border-width: 1px 0;*/
/*}*/
.table th:not(:first-child):not(:last-child):not(:nth-last-child(2)) {
    padding-left: 3%;
}

.react-bootstrap-table-pagination-list {
    display: flex;
    flex-direction: row-reverse;
}