* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: rooney-sans, sans-serif;
}

html {
    scroll-behavior: smooth
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f8f8f8;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Page {
    padding: 0;
    margin: 0 0 0 70px;
    height: 100vh;
}


