nav {
    width: 70px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #242424;
    box-sizing: initial;
    z-index: 10;
}

nav > ul {
    display: flex;
    flex-flow: column;
    padding: 0 0 10px 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

nav > ul > a, nav > ul > button {
    text-decoration: none;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul > button {
    border: 0;
    background-color: #242424;
}

nav > ul > button:hover {
    border: 0;
    background-color: #4A4A4A;
}

nav > ul > a, button > li {
    display: flex;
    align-content: center;
    align-items: center;
    list-style-type: none;
}

nav > ul > a > li > img {
    width: 30px;
    margin: auto;
}

nav > ul > button > li > img {
    width: 30px;
    margin: auto;
}

nav > ul > a:nth-child(1) {
    height: 75px;
}

nav > ul > a:nth-child(1) > li > img {
    width: 50px;
}

nav > ul > a:hover {
    background-color: #4A4A4A;
}

nav > ul > a:nth-child(1):hover {
    background-color: #4A4A4A;
}

button:focus {
    border: none;
    outline: none;
}