.download-icon {
    margin: auto 0 0 0;
}

.download-menu {
    display: none;
    background-color: #242424;
    position: fixed;
    padding: 0;
    margin: 0;
    color: white;
    bottom: 0;
}

.download-menu ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.download-menu ul > li {
    margin: 0;
    padding: 10px;
}

.download-menu ul > li:hover {
    background-color: #4A4A4A;
}

.download-icon:hover .download-menu {
    display: block;
    transform: translateX(50px) translateY(-95px);
}


